
/* widgets */
#CQ .customwidget-label {
    margin-top:10px;
    margin-right:5px;


}
#CQ .customwidget-label-2 {
    margin-top:10px;
    margin-right:5px;
    margin-left:20px;


}

#CQ .customwidget-1 {
    width:70px;
    margin-top:4px;
    margin-right:10px;

}

#CQ .customwidget-2 {
    width:300px;
    margin-top:4px;
    margin-right:10px;
    margin-left:5px;
}

#CQ .customwidget-3 {
    width:300px;
    margin-top:4px;
    margin-right:10px;
    margin-left:5px;
}

