
<!--/*<div data-sly-use.cardObject="com.aem.exadel.service.impl.ManualCardRestComponent" class="${cardObject}">
   	<h1>${cardObject.manualCard.title == null ? "Manual card" : cardObject.manualCard.title}</h1>
       <h3>${cardObject.manualCard.description}</h3>
       <h4>${cardObject.manualCard.link}</h4>
       <h5>${cardObject.manualCard.pubDate}</h5>
       </div>*/-->
<sly data-sly-use.cardObject="com.aem.exadel.service.ManualCardRestComponent"
     data-sly-list.news="${cardObject.card.news}">
    <article class="post" onclick="${news.link}">
        <div class="post-container">
            <h1 class="post-title">${news.title == null ? "Manual card" : news.title}</h1>

            <span class="post-date">${news.pubDate}</span>
            <div class="wrapper-post-text">
                <p>
                    ${news.description}
                </p>
                <p>&nbsp;</p>
            </div>
            <!--<span class="read-pull-post">Читать статью ►</span>-->
        </div>
    </article>
</sly>